<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=HCTOITDEV1\SQLExpress;Initial Catalog=TodoList;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="BlogDemosEntities" connectionString="metadata=res://*/Models.BlogDemos.csdl|res://*/Models.BlogDemos.ssdl|res://*/Models.BlogDemos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VENKATBAGGU\SQLEXPRESS2012;initial catalog=BlogDemos;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>